.container{
    width: 70%;
    margin: auto;
    height: 2000px;
    box-shadow: 2px 2px 10px 1px black;
}

.heading{
    width: 70%;
    float: right;
    height: 50vh;
    float: left;
}
.picture{
    width: 18%;
    height: 50vh;
    float: right;
    padding-right: 70px;


}

.image{
    height: 131px;
    border-radius: 82px;
    padding-right: 0px;
    margin-top: 25px;
    border: 8px green;
    
    

}
.name{
    font-size: 61px;
    text-align: right;
    padding-right: 53px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    
}
.profile{
    font-size: 25px;
    text-align: right;
    padding-right: 62px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.about{
    font-size: 18px;
    text-align: justify;
    text-align: center;
    padding-top: 20px;
    padding:0 20px;
    clear:both;
    margin-bottom:20px;

}

.about p{
    max-width: 80%;
    margin:0 auto;

}

.left{
    float: left;
    width: 49.5%;
    border-right: 1px solid black;
    height: 1500px;
}
.sub{
    max-width: 80%;
    margin:0 auto;
    border:1px solid black;
    height: 200px;
    margin-left: 20px;
}

.right{
    float: right;
    width: 49.5%;
    border-right: 1px solid black;
    height: 1500px;
}