* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.one {
  display: inline;
}

.two {
  display: inline;
}

.three {
  display: inline;
  padding-left: 20px;
}

.four {
  display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
}

.display {
  display: none;
  font-size: 10px;
}

/* .display:hover {
    display: none;
    
  } */

.visibile {
  text-align: center;
}

/* .uz {
  visibility: hidden;
  display: none;
} */

/* Visible element */
.visible {
  color: green;
  font-size: 20px;
}

/* Hidden but still takes up space */
.hidden {
  visibility: hidden;
  color: red; /* This won't be shown */
}

/* Completely removed from layout */
.none {
  /* display: none; */
  color: blue; /* This also won't be shown */
}
